<!doctype html>

<html>
  
  <head>
    <title>EvajoluTI - Sistema de Controle de Cartão Ponto</title>
    <meta name="viewport" content="width=device-width">
    <title>Ponto</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
=======
    <% javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% csrf_meta_tags %> 
>>>>>>> 436fb45800b66276415fbd25e6ac00de61ef8753
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 20px;
      }
      .footer {
        border-top: 1px solid #eee;
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
        /*text-align: center;*/
        background-color: transparent;
        padding:0;
      }
      
      /* Customize the nav-justified links to be fill the entire space of the .navbar */
      .nav-justified {
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      .nav-justified > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #777;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #d5d5d5;
        background-color: #e5e5e5;
        /* Old browsers */
        background-repeat: repeat-x;
        /* Repeat the gradient */
        background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5));
        /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* Chrome 10+,Safari 5.1+ */
        background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* IE10+ */
        background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* Opera 11.10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
        /* IE6-9 */
        background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
        /* W3C */
      }
      .nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
        background-color: #ddd;
        background-image: none;
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
      }
      .nav-justified > li:first-child > a {
        border-radius: 5px 5px 0 0;
      }
      .nav-justified > li:last-child > a {
        border-bottom: 0;
        border-radius: 0 0 5px 5px;
      }

      #menu_principal li a {
        padding-left: 8px; 
        padding-right: 8px
      }

      @media(min-width: 768px) {
        .nav-justified {
          max-height: 52px;
        }
        .nav-justified > li > a {
          border-left: 1px solid #fff;
          border-right: 1px solid #d5d5d5;
        }
        .nav-justified > li:first-child > a {
          border-left: 0;
          border-radius: 5px 0 0 5px;
        }
        .nav-justified > li:last-child > a {
          border-radius: 0 5px 5px 0;
          border-right: 0;
        }
      }
      /* Responsive: Portrait tablets and up */
      @media screen and(min-width: 768px) {
        /* Remove the padding we set earlier */
        .masthead, .marketing, .footer {
          padding-left: 0;
          padding-right: 0;
        }
      }
      a.btn:visited 
      {
          text-decoration: none; 
          decoration: none; 
          color: white;
      }
      
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="masthead">
        <div class="row" style="margin-top:10px; height:70px">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <%= image_tag('logo.png') %>
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9" style="text-align:right">
            <label class="form-label">Bem vindo <%= current_user.username.upcase %>! (Tipo da conta: <%= Usuario::TIPO[current_user.tipo] %> <%= current_user.tipo == 1 ? ' => ' + current_user.setor.descricao : '' %>)</label>
            <%= link_to t('Sair'), user_sessions_path, method: :delete, class: 'btn btn-danger btn-xs' %>
          </div>
        </div>
        <ul class="nav nav-justified" id="menu_principal">
          <li class="<%= 'active' if params[:controller] == 'home' %>">
            <%= link_to 'Principal', root_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'usuarios' %>">
            <%= link_to 'Usuários', usuarios_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'funcionarios' %>">
            <%= link_to 'Funcionários', funcionarios_path %>
          </li>
          <li class="disabled">
            <a href="#" style="padding-left: 8px; padding-right: 8px">Diverg&ecirc;ncias</a>
          </li>
          <li class="disabled">
            <a href="#" style="padding-left: 8px; padding-right: 8px">Inconsist&ecirc;ncias</a>
          </li>
          <li class="disabled">
            <a href="#" style="padding-left: 8px; padding-right: 8px">Horas&nbsp;&agrave;&nbsp;Pagar</a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'relatorios' %>">
            <%= link_to 'Relatórios', relatorios_path %>
          </li>
        </ul>
        <div class="jumbotron">
          <% if notice.present? %>
            <div class="alert alert-info"><%= notice %></div>
          <% end %>

          <% if alert.present? %>
            <div class="alert alert-warning"><%= alert %></div>
          <% end %>
          
          <%= yield %>
        </div>
      </div>
      <!-- Jumbotron -->
      <!-- Example row of columns -->
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; EvajoluTI 2014</p>
      </div>
    </div>
    <!-- /container -->
  </body>

</html>
