<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @register.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @register.hora %>
</p>

<p>
  <strong>Funcionario:</strong>
  <%= @register.funcionario %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
