<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.select :tipo, Usuario::TIPO.collect { |s, i| [i, s] }, {prompt: '--Selecione um tipo--'} %>
  </div>
  <div class="field">
    <%= f.label :setor_id %><br>
    <%= f.collection_select :setor_id, Setor.all, :id, :descricao, {prompt: '--Selecione um setor--'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
