<html>
  
  <head>
    <title>EvajoluTI - Sistema de Controle de Cartão Ponto</title>
    <meta name="viewport" content="width=device-width">
    <title>Ponto</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <table class="table table-list-search">
        <thead>
            <tr>
                <th style="padding-left:30px" colspan="6">Filtros: <%= "#{@datainicial} > #{@datafinal}" %></th>
            </tr>
            <tr>
                <th style="padding-left:30px">Data</th>
                <th>Batidas</th>
                <th>Esperado</th>
                <th>Total do dia</th>
                <th>Diferença</th>
                <th>Banco de horas</th>
            </tr>
        </thead>
        <tbody>
            <% dia_anterior = @datainicial.to_date.yesterday %>
            <% @setors.each do |s| %>
                <tr>
                    <td colspan="6">
                        <h4><%= s.descricao %></h4>
                    </td>
                </tr>
                <% 
                funcionarios = @funcionario.blank? ? s.funcionarios : s.funcionarios.where(id: @funcionario)
                funcionarios.each do |f| %>
                    <tr>
                        <td style="padding-left:30px" colspan="6">
                          <span style="font-weight:bold">Funcionário:</span>&nbsp;<%= "##{f.id} #{f.nome}" %>
                          <span style="font-weight:bold;margin-left:20px">Saldo inicial:</span>&nbsp;
                          <%= hora_formatada(saldo_total(f,dia_anterior)) %>
                        </td>
                    </tr>
                    <% (@datainicial.to_date..@datafinal.to_date).map do |d| %>
                        <tr class="<%= classe_dia(f, d) %>">
                            <td style="padding-left:60px"><%= d.strftime("%d/%m/%Y") %></td>
                            <td><%= batidas_formatado(f, d) %></td>
                            <td><%= hora_formatada(tempo_esperado(f, d)) %></td>
                            <td><%= hora_formatada(total_dia(f, d)) %></td>
                            <td><%= hora_formatada(saldo_dia(f, d)) %></td>
                            <td><%= hora_formatada(saldo_total(f, d)) %></td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
<%= @params %>