<html>
  
  <head>
    <title>EvajoluTI - Sistema de Controle de Cartão Ponto</title>
    <meta name="viewport" content="width=device-width">
    <title>Ponto</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <table class="table table-list-search">
        <thead>
            <tr>
                <th style="padding-left:30px" colspan="6">Filtros: <%= "#{@datainicial} > #{@datafinal}" %></th>
            </tr>
            <tr>
                <th style="padding-left:30px">Data</th>
                <th>Batidas</th>
                <th>Esperado</th>
                <th>Total do dia</th>
                <th>Diferença</th>
                <th>Banco de horas</th>
            </tr>
        </thead>
        <tbody>
            <% @setors.each do |s| %>
                <tr>
                    <td colspan="6">
                        <h4><%= s.descricao %></h4>
                    </td>
                </tr>
                <% s.funcionarios.each do |f| 
                    datanula = 3.hours.to_i
                    saldofun = 0.hours
                %>

                    <tr>
                        <td style="padding-left:30px" colspan="6">
                          <span style="font-weight:bold">Funcionário:</span>&nbsp;<%= "##{f.id} #{f.nome}" %>
                          <span style="font-weight:bold;margin-left:20px">Saldo inicial:</span>&nbsp;xx:xx
                        </td>
                    </tr>
                    <% (@datainicial.to_date..@datafinal.to_date).map{ |d| %>
                        <% 
                            entrada = nil
                            saida = nil
                            saldo_dia = 0
                            esperado = datanula + 8.hours.to_i
                        %>
                        <tr class="<% if Feriado.where(data: d).any? 
                                esperado = datanula
                            %>
                                danger
                            <% end %> 
                            <% if d.wday.in? [0,6]
                                esperado = datanula
                            %> 
                                warning
                            <% end %>
                            <% if d.in? f.todasferias 
                                esperado = datanula
                            %>
                                info 
                            <% end %>">
                            <td style="padding-left:60px"><%= d.strftime("%d/%m/%Y") %></td>
                            <td>
                                <% f.batidas.where(data: d).order(:hora).each do |b| %>
                                    <%= b.hora.strftime("%H:%M")  %> 
                                    <%
                                        if entrada.nil?
                                            entrada = b.hora
                                        else
                                            saida = b.hora
                                            saldo_dia += (saida - entrada)
                                            entrada = nil
                                        end
                                    %>
                                <% end %>
                            </td>
                            <td><%= Time.at(esperado.to_i - datanula.to_i).utc.strftime("%H:%M") %></td>
                            <td><%= Time.at(saldo_dia.to_i.abs).utc.strftime("%H:%M") %></td>
                            <% diferenca = esperado.to_i - saldo_dia.to_i - datanula.to_i %>
                            <td><%= Time.at(diferenca.abs).utc.strftime("%H:%M") %></td>
                            <% saldofun = saldofun + diferenca %>
                            <td><%= ((saldofun / 60) / 60).to_s.rjust(2, '0') %>:<%= ((saldofun / 60) % 60).to_s.rjust(2, '0') %></td>
                        </tr>
                    <% } %>
                <% end %>
            <% end %>
           
        </tbody>
    </table>
    </div>
</div>
  </body>
</html>