<div class="container">
  <%= form_tag("/executarelatorio", :method => "get", :target => "_blank") do %>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label class="form-label">Relat&oacute;rio:</label>
          <select class="form-control">
            <option>Banco de horas por funcion&aacute;rio</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label class="form-label">Setor:</label>
          <select class="form-control">
            <%= @setors.each do |setor| %>
                <option value="<%= setor.id %>"><%= setor.descricao %></option>
             <% end %>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label class="form-label">Funcionário:</label>
          <select class="form-control" disabled>
            <option>Todos</option>
            <option>João</option>
            <option>Maria</option>
            <option>Pedro</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label class="form-label">Data inicial:</label>
          <div class="form-group">
            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
              <%= text_field_tag 'datainicial', '', maxlength: 10, class: "form-control", readonly: true %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
				    <input type="hidden" id="dtp_input2" value="" /><br/>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:0px">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label class="form-label">Data final:</label>
          <div class="form-group">
            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
              <%= text_field_tag 'datafinal', '', maxlength: 10, class: "form-control", readonly: true %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
				    <input type="hidden" id="dtp_input2" value="" /><br/>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('.form_date').datetimepicker({
                  language:  'pt-BR',
                  weekStart: 1,
                  todayBtn:  1,
                  autoclose: 1,
                  todayHighlight: 1,
                  startView: 2,
                  minView: 2,
                  forceParse: 0
              });
          });
        </script>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-md-4">
          <%= submit_tag "Gerar Relatório", class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>