<div class="container">
  <%= form_tag("/relatorios/executa", :method => "get", :target => "_blank") do %>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label class="form-label">Relat&oacute;rio:</label>
          <select class="form-control">
            <option>Banco de horas por funcion&aacute;rio</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label class="form-label">Setor:</label>
          <select class="form-control">
            <%= @setors.each do |setor| %>
                <option value="<%= setor.id %>"><%= setor.descricao %></option>
             <% end %>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <label class="form-label">Funcionário:</label>
          <select class="form-control" disabled>
            <option>Todos</option>
            <option>João</option>
            <option>Maria</option>
            <option>Pedro</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label class="form-label">Data inicial:</label>
          <div class="form-group">
            <div class="input-group date" id="datainicial">
              <input type="text" class="form-control">
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datainicial').datetimepicker({
              language: 'pt-BR'
            });
          });
        </script>
      </div>
      <div class="row" style="margin-top:0px">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label class="form-label">Data final:</label>
          <div class="form-group">
            <div class="input-group date" id="datafinal">
              <input type="text" class="form-control">
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datafinal').datetimepicker({
              language: 'pt-BR'
            });
          });
        </script>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-md-4">
          <a class="btn btn-primary" href="bancohoras.html">Emitir relat&oacute;rio</a>
        </div>
      </div>
      <%= submit_tag("Generate Report") %>
  <% end %>
</div>